doctype html
head
  title Available Loads
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // ===============================================================================================
  link(rel='icon' type='image/png' href='images/icons/favicon.ico')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/bootstrap/css/bootstrap.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='fonts/iconic/css/material-design-iconic-font.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/animate/animate.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/css-hamburgers/hamburgers.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/animsition/css/animsition.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/select2/select2.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/daterangepicker/daterangepicker.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='css/util.css')
  link(rel='stylesheet' type='text/css' href='css/main.css')
  // ===============================================================================================
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='home.html')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarText.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='homepage.html') Home Screen
      li.nav-item
        a.nav-link(href='closet.html') Your Closet
      li.nav-item.active
        a.nav-link(href='availableloads.html') Available Loads
      li.nav-item
        a.nav-link(href='weather.html') Weather
      li.nav-item
        a.nav-link(href='howto.html') How To
    .form-inline.my-2.my-lg-0
      form(action='/')
        button.btn.btn-outline-light.my-2.my-sm-0(type='submit') Logout
.limiter
  .container-login100(style="background-image: url('images/laun.jpg');")
    .wrap-login100
      // Bootstrap core CSS
      link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous')
      span.login100-form-title.p-b-34.p-t-27 Machine Washables
      form(action="/available_loads", method="post")
        table.table.text-center
          tr
            th#Pants Type
            th#Socks Name
            th#Underwear Temperature
            th Cycle
            th Wash
          - if(machine)
            for item in machine
              tr
                td(header='Shirts') #{item.type}
                td(header='Pants') #{item.description}
                td(header='Socks') #{item.wash_temp}
                td #{item.wash_cycle}
                td
                  input(type='checkbox' name = 'wash' value = item.item_id)
        - if(hand)
            span.login100-form-title.p-b-34.p-t-27 Hand Wash
            table.table.text-center
              tr
                th#Pants Type
                th#Socks Name
                th#Underwear Temperature
                th Cycle
                th Wash
                for item in hand
                  tr
                    td(header='Shirts') #{item.type}
                    td(header='Pants') #{item.description}
                    td
                      input(type='checkbox' name = 'wash' value = item.item_id)
        - if(dry_clean)
          span.login100-form-title.p-b-34.p-t-27 Dry Clean
          table.table.text-center
            tr
              th#Pants Type
              th#Socks Name
              th#Underwear Temperature
              th Cycle
              th Wash
              for item in dry_clean
                tr
                  td(header='Shirts') #{item.type}
                  td(header='Pants') #{item.description}
                  td
                    input(type='checkbox' name = 'wash' value = item.item_id)
        input.btn.btn-primary.btn-block(type='submit' value='Wash')
      script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js' integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut' crossorigin='anonymous')
      script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js' integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k' crossorigin='anonymous')
      script(src='../resources/js/my_scripts.js')
